*{
    margin: 0;
    padding: 0;
    font-family:Georgia, 'Times New Roman', Times, serif;
}


body{
    background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(med.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
  
}

.logo img{
    float: left;
    width: 200px;
    height: 200px;
}



ul{
    float: right;
    list-style: none;
    margin-top: 5px;
    font-size: 17px;
}

ul li{
    display: inline-block;
}

ul li a{
    text-decoration: none;
    color: rgb(255, 246, 246);
    padding: 5px 20px;
    border: 3px solid transparent;
    transition: 0.6s ease;
    line-height: 60px;
    
}

ul li a:hover{
    background-color: black;
    color: blanchedalmond;    
}

ul li.active a{
    background-color: black;
    color: blanchedalmond;    
}
ul ul{
    position: absolute;
    top: 50px;
display: none; 

}

ul li:hover > ul{
    display: block;
}

ul ul li{
    width: 150px;
    padding: 5px;
    float: none;
    display: list-item;
    position: relative;
    
}
ul ul ul li{
    position: relative;
    top: -60px;
    left: 130px;
 width: 150px;
}
.fa-angle-right{
    float: right;
}

.logo img{
    margin: 0;
    float: left;
    width: 200px;
    height: 200px;
}


.title{
    position: absolute;
    top: 20%;
    left:50%;
    transform: translate(-50%,-50%);
}

.title p{
    color: rgb(232, 236, 241);
   font-size: 70px;
}

.loginbox{
    width: 320px;
    height: 470px;
    background: #000;
    color: #fff;
    top: 64%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    padding: 70px 30px;
}

.avatar{
    width: 100px;
    height:100px;
    border-radius: 50%;
    position: absolute;
    top: -5%;
    left: 35%;
}

h1{
    margin: 0;
    padding: 30px;
    text-align: center;
    font-size: 20px;
}

.loginbox h2{
    margin: 0%;
    padding: 0%;
    font-weight: bold;

}

.loginbox input{
    width: 100%;
    margin-bottom: 20px;

}

.loginbox input[type="text"],input[type="password"]{
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    color: white;
    font-size: 16px;
}

.loginbox input[type="submit"]
{
    border:none;
    outline: none;
    height: 40px;
    background:#fb2525;
    color:#fff;
    font-size: 18px;
    border-radius: 20px;
}

.loginbox input[type="submit"]:hover
{
    cursor: pointer;
    background: #ffc107;
    color: #000;
}

.loginbox a{
    text-decoration: none;
    font-size: 12px;
    line-height: 20px;
    color:darkgray;
}

.loginbox a:hover{
    color:#ffc107;
}

label #btn,#cancel{
    color: white;
    font-size: 30px;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#check{
    display: none;

}

@media (max-width:1118px) {
    nav img{
        left: 8%;
    }
}

@media (max-width:1044px) {
    nav img{
        left: 120%;
        top: 20px;
        width: 120px;
    }
    nav ul li a{
        font-size: 13px;
    }
}

@media (max-width:944px) {
    nav img{
        left: 6%;
        top: 20px;
        width: 100px;
    }
    nav ul li a{
        font-size: 10px;
    }
}

@media (max-width:860px) {
   label #btn{
       display: block;
   }
   ul{
      position: fixed;
      width: 30%;
      height: auto;
      background:transparent;
      top: 80px;
      right: -100%;
      text-align: center;
      float: right;
transition: all .25s;

   }
   nav ul li{
       display: block;
       margin: 50px 0;
       line-height: 30px;

   }
   nav ul li a{
    font-size: 15px;
}

#check:checked ~ ul{
    right: 0;
}
#check:checked ~ label #btn{
    display: none;
}
#check:checked ~ label #cancel{
    display: block;
}

}